*{
    background-color: lightblue;
    background-color: hsl(40%, 41%, 20%);

}
h1{
    text-align: center;
    text-decoration-line: underline;

    
}
#submit{
    margin: 10px;
    text-shadow: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

